[2016-02-08 10:11] npracht opened #19 "Add info about Date Files List filters"
Hi,

Would it be possible to add to the page:
Those information:

---
### For the date format fields, it is possible to filter with the following values
- last month
- next month
- this month
- today
- tomorrow
- yesterday
- last week
- next week
- this week
- last year
- next year
- this year

![Image of filter with the value yesterday](https://cloud.githubusercontent.com/assets/1235442/9489559/3

[2016-08-08 08:49] chandon opened #20 "Bounce : important information missing"
For bounce detection, mautic uses Return-path to detect wich message originated the bounce. For example, if you send an email from **my.address@email.com**, mautic will insert a Return-path: **my.address+bounce_65456489798@email.com**

So if your mailbox isn't configured to accept ALL email with +bounce... the mailbox will never be able to receive the bounce. And, of course, the detection will not

[2016-10-27 13:40] npracht opened #21 "Social login doc is missing"
Hello @mqueme, there is no doc about https://github.com/mautic/mautic/pull/1552, could you please help ?
Thanks :)

N.

[2016-12-05 08:43] npracht opened #22 "complete Text Messages settings"
To make it work, it must be:

- `+XXXXXXX` format for the contact phone number including the `+` and no space.
- fulfilled in the `mobile` contact field.
- the configuration tab must contain the phone number with same format: `+XXXXXXX`
- the **SID** must be the one of the account, not the one of the phone number
- STOP, STOPALL, UNSUBSCRIBE, CANCEL, END, and QUIT -  will stop customers from recei

[2017-01-17 17:17] npracht opened #23 "missing email dynamic content doc"
Hi @dongilbert, could you please work on Email dynamic content documentation ? https://github.com/mautic/mautic/pull/2574

Thanks a lot for you help.

N.

[2017-07-03 11:38] phil-davis opened #31 "focus animate unfinished sentence"
In https://github.com/mautic/documentation/blob/master/en/focus/README.md there is an item:
"Animate? - simply determine if"

"if" what?

The snetence needs finishing by someone who knows what it does.

[2017-07-07 16:13] skynet opened #30 "Amazon S3 Plugin poorly documented"
There's no documentation on how to set up AWS S3 Plugin, what does it do, and how to test it. I got it to work but there's no way to set the region. It will take US-EAST-1 by default.

[2017-08-22 07:49] npracht opened #29 "missing doc - record UTM tags - from form action"
https://github.com/mautic/mautic/pull/1739
@mqueme you can help ?

[2017-09-20 08:25] npracht opened #28 "missing bi-directional zoho documentation"
Hello @virlatinus you have linked the doc in your PR https://github.com/mautic/mautic/pull/4068 but the doc is the old one concerning uni-directionnal sync.
Could you make the doc please ?

Thanks a lot,

N.

[2018-01-11 14:20] RCheesley opened #27 "Incomplete documentation on campaign events"
This page is somewhat missing of other events such as clicks etc. Parking here as an issue to remind me to come back to it: https://mautic.org/docs/en/campaigns/campaign_events.html

[2018-05-16 08:53] johbuch opened #25 "outlook plugin - differences between 2 different docs"
There are some differences in these 2 docs.

In this one, it says in requirements > outlook 2013 or 2016
Also it says it is needed a the Outlook Add-in
https://www.mautic.org/docs/en/plugins/outlook.html

In the other one, it says only Outlook 2016 is required. Also, the outlook add-in must be only for windows
https://mautic.com/help/use-microsoft-outlook-plugin/

[2019-11-03 07:58] virgilwashere opened #24 "consider automating contributors/authors"
## Automate adding contributors to AUTHORS.md

@allcontributors have a bot to _**Recognize All Contributors**_ - Including those that don't push code

https://allcontributors.org/

### Bot Configuration

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95780696-consider-automating-contributors-authors?utm_campaign=plugin&utm_c

[2020-02-10 21:04] RCheesley opened #1 "Redo gif in campaign builder page"
It's totally tiny!

[2020-02-10 21:09] RCheesley opened #2 "Fix links in campaign events page"
/en/campaigns/campaign%20events

[2020-02-10 21:15] RCheesley opened #3 "Update links in Channels overview page"
/en/channels

[2020-03-06 14:45] RCheesley commented on #1
Completed

[2020-03-06 14:45] #1 closed

[2020-03-10 16:42] #3 closed

[2020-03-10 16:43] #2 closed

[2020-03-10 16:44] RCheesley opened #11 "Only show edit link when the user is logged in with the correct groups"
I think we need to do this in /user/plugins/admin-power-tools/admin-power-tools.php by adding a check for the two groups which have edit access (Docs Team or Docs Contributors).

[2020-04-02 16:37] RCheesley opened #26 "Add an 'emergency actions' documentation resource"
We all make mistakes sometimes, and it would be helpful to have an emergency actions documentation resource to help people:

- Disable cron jobs
- Turn off email sending
- Clear out email queue
- Remove any pending triggers which haven't been acted upon yet
- Any other emergency actions that might be necessary

Parking this here as a reminder!

[2020-04-13 16:42] taicv opened #34 "Missing mautic:import command for importing contact in background"
https://docs.mautic.org/en/contacts/import-contacts

[2020-04-13 20:20] RCheesley commented on #34
Hi @taicv thanks for raising this - do you mean that you think the cron job should be mentioned here specifically?  It wasn't completely clear to me what the problem was, or what you were suggesting to fix it.

It seems like maybe you might mean that this command is missing from https://docs.mautic.org/en/setup/cron-jobs and/or it should be included on the import contacts page?

Perhaps you would

[2020-04-13 21:19] RCheesley commented on #30
Resolved with [this commit](https://github.com/mautic/mautic-documentation/commit/40801febcd345bff633f7fadf560641f71f6effc#diff-d975e2e87546b8022d4668c1346d100c) so closing this issue.

[2020-04-13 21:19] #30 closed

[2020-04-13 21:19] #31 closed

[2020-04-13 21:31] RCheesley commented on #19
Hi peeps, I'm going to close down this issue as I believe we have all the options mentioned documented in one way or another at https://docs.mautic.org/en/contacts/manage-segments#date-options :)

[2020-04-13 21:31] #19 closed

[2020-04-13 21:33] RCheesley commented on #11
No longer relevant

[2020-04-13 21:33] #11 closed

[2020-04-13 21:34] RCheesley commented on #20
Closing as this is now documented at https://docs.mautic.org/en/channels/emails/bounce-management#monitored-email.

[2020-04-13 21:34] #20 closed

[2020-04-13 22:23] RCheesley commented on #28
I have updated this documentation, refactored to take into account the fact that you now need to create an API key pair (which was incredibly hard to find how to do, incidentally!!) and generally tweaked for accuracy.

https://docs.mautic.org/en/plugins/zoho-crm

[2020-04-13 22:23] #28 closed

[2020-04-14 06:39] taicv commented on #34
Thanks @RCheesley for prompt reply and sorry for the not describing clearly.

Actually, the page I wanna improve is Cron Jobs page
https://github.com/mautic/mautic-documentation/blob/master/pages/02.Setup/02.Cron%20Jobs/docs.en.md
But when I creating issue, it didn't include the page in my message.
---
So for more detail, my issue is:  "The Document about Cron Jobs (02.Setup/02.Cron%20Jobs/docs.en

[2020-04-14 11:20] RCheesley commented on #34
OK, the easiest way is to click the link at the bottom of the documentation, and then click 'edit'.  Make your changes, then click on the button to 'propose changes' and then make a pull request.

We will then review the proposed changes (once you make the pull request) and if there are any changes needed can either give advice, or we can add a commit to implement the change.

Looking forward to s

[2020-04-25 14:33] jaredneale78 opened #41 "mautic:integration:fetchleads fails SugarCRM"
When triggering mautic:integration:fetchleads an error occurs:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'l.mauticContactId' in 'field list'

[2020-05-15 16:13] aiac opened #43 "Documentation translation - how and where to pull"
Hi! We got polish translation of Mautic documentation, and we would like to contribute this way. How and where can we push this? Contributing notes are not covering this. It would be nice if someone can change language @ https://docs.mautic.org

[2020-05-15 16:22] RCheesley commented on #43
Hi there, great to hear that there is interest
In translating the documentation into Polish!

We are using Grav as our platform, and it supports multilingual natively.

We would require all the pages to be translated fully before we go about adding a new translation. We would also need a team of people committed to translating, reviewing, and editing
 on an ongoing basis.

What I would suggest as

[2020-05-27 17:59] dhilst opened #52 "Typo at writting plugin docs"
There is something that looks a lot like a typo at docs

<img width="387" alt="image" src="https://user-images.githubusercontent.com/392820/83055655-80e84e00-a02a-11ea-843a-857704842e36.png">

I search for `CHANGE CHANGE` in github search but can't  find the document with the typo, I willing to create a PR for it.

Regards

[2020-05-27 18:29] RCheesley commented on #52
Hi there, where did you find this error?

[2020-05-28 14:39] RCheesley opened #53 "Separate out Twilio docs into plugin config and usage"
When I was following the documentation for setting up Twilio, I noticed that we have everything under how to [configure text messages](https://docs.mautic.org/en/channels/marketing-messages/sms), and nothing showing under plugins where I would expect to find information about how to configure the plugin itself.

I feel that we should separate [this page out](https://docs.mautic.org/en/channels/mar

[2020-05-30 03:02] dhilst commented on #52
Hi @RCheesley Here is the closer link I can found https://developer.mautic.org/#install/upgrade

You need to scroll down a little to reach `onUpdate` method

Regards

[2020-06-01 11:16] RCheesley opened #55 "Cron jobs page is missing commands"
I noticed when I was referring to the Cron jobs page to find the appropriate command for importing contacts or companies that this was missing from the page.

It would be a really good idea to compare what we have against the [great forum post here](https://forum.mautic.org/t/cron-jobs-whats-the-difference/11177/3) and add those that are missing.

[2020-06-01 11:24] RCheesley opened #56 "Add information to contact preference centre page"
While I was doing testing for the M3 beta I was trying to send an email and force people to go to the preference centre rather than to unsubscribe directly.

It was not clear to me from the documentation that you needed to enable the global configurations settings relating to preference centres in order for this to be included rather than the unsubscribe link.

I think we need to make this explici

[2020-06-01 13:05] fakela commented on #53
@RCheesley I would love to work on this issue

[2020-06-01 13:43] RCheesley commented on #53
@fakela super, let me know if you need any guidance on creating a new page etc!

[2020-06-01 19:17] fakela commented on #53
Alright, I will work on this later today if I have issues I would reach out to you. Thanks a lot

[2020-06-03 10:31] RCheesley opened #58 "Update docs to support Mautic 3"
There are some commands that change in Mautic 3.x which we need to be updated across the documentation.

We will need to add a statement on the top of the page explaining that in Mautic 2.x use this version in Mautic 3.x use that version or something similar.

See [this](https://github.com/mautic/mautic/blob/3.x/UPGRADE-3.0.md) for a full list of updates, we are mainly interested in the user facin

[2020-06-05 12:14] swati-thacker13 commented on #56
Also, need to replace the screen capture on the [Preference center
](https://docs.mautic.org/en/contacts/preference-center) page. It looks outdated.

[2020-06-05 12:51] swati-thacker13 opened #60 "Update all your cron job and replace app/console with bin/console"
Update the https://docs.mautic.org/en/setup/cron-jobs page and replace all app/console instances with bin/console.

[2020-06-05 15:12] swati-thacker13 commented on #55
I find information for importing contacts here - https://mauteam.org/mautic/mautic-admins/mautic-cron-jobs-which-ones-to-use/. Is this info up-to-date?

I would like to work on this ticket. Please assign it to me.

[2020-06-08 14:11] RCheesley opened #63 "Improve/tidy images on Maxmind article"
We pulled this together quickly, I would like it if we could improve the images and agree on a standard way that we highlight images.

https://docs.mautic.org/en/setup/maxmind-license

[2020-06-08 14:16] fakela commented on #63
@RCheesley the images to use for the maxmind article has to be the same with what's already there but in a much improved manner right?

I would be willing to work on this🙂

[2020-06-08 15:23] RCheesley opened #65 "Add info about scheduled sending of reports"
With [this PR](https://github.com/mautic/mautic/pull/5205) we introduced the ability to schedule reports to be sent by email but this is missing in the docs.

- [ ] Add to reports documentation
- [ ] Check the Cron command (mautic:reports:scheduler) is on the crons docs and specifically highlighted on the reports page as being needed for scheduled reports

https://docs.mautic.org/en/reports

[2020-06-08 17:47] swati-thacker13 commented on #65
We also need to update all the screen captures on the https://docs.mautic.org/en/reports page.

I am working on a PR for this issue.

[2020-06-08 18:17] RCheesley commented on #63
Yes, I would suggest using a standard box, maybe in red, so that it looks a bit tidier than a hand drawn circle.

[2020-06-08 19:36] swati-thacker13 commented on #65
As part of the above-mentioned commit, I made the following changes:

- Updated all screen captures on the https://docs.mautic.org/en/reports page.
- Added a new section titled 'Schedule' on the Reports page to describe the scheduling reports ability, and added a screenshot for the same.
- Checked the Crons jobs page https://docs.mautic.org/en/setup/cron-jobs. It has the mautic:reports:scheduler c

[2020-06-08 19:57] swati-thacker13 commented on #60
The following PR addresses this issue:

https://github.com/mautic/mautic-documentation/pull/64

[2020-06-08 20:36] swati-thacker13 opened #66 "Language in the Absolute links section needs to be changed to english"
On the **Contributing to the Mautic documentation** page, the language in the [Absolute links](https://docs.mautic.org/en/home/contributing#absolute-links) section needs to be changed to English.

[2020-06-08 21:15] fakela commented on #66
Well , I feel it's being stated as an example on how to write the links in the markdown

[2020-06-09 05:18] swati-thacker13 commented on #66
I understand that. But why is the example not provided in the English language? To me, it looks a bit awkward.

[2020-06-15 08:19] #53 closed

[2020-06-15 14:25] #65 closed

[2020-06-15 22:54] #58 closed

[2020-06-15 22:54] #60 closed

[2020-06-24 07:10] npracht opened #75 "documentation wrong for Salesforce"
I used docs.mautic.org/en/plugins/salesforce#custom-fields-relationships
but it return error “No such column ‘WhoId__c’ on sobject of type mautic_timeline__c”
Then I found another manual mautic.com/help/salesforce-integration-setup and then I setup field: WhoId : Lookup(Lead)
Then works properly.
Form submit actions save in the right column

Can somebody from education team update the docs?

[2020-06-24 07:55] RCheesley commented on #75
Thanks for raising the issue, seems like a good one for beginners to get started with so have labelled it as such!

[2020-06-25 13:21] fakela commented on #75
I would work on this, @npracht could you please state the exact section of the saleforce documentation that has wrong information

[2020-06-26 08:56] StoppingBuck opened #77 "Broken link in the Salesforce CRM plugin documentation"
Hey, just a quick note to say that the 'these steps' link [here](https://github.com/mautic/mautic-documentation/blob/master/pages/12.Plugins/14.Salesforce/docs.en.md#test-the-plugin) is currently 404. It should be fairly easy to fix if somebody knows there the steps moved to :)

[2020-06-26 09:35] RCheesley commented on #77
Thanks @StoppingBuck for taking the time to report this - would you like to fix it? You can use the edit button at the bottom of the page to edit directly in the Github user interface - let me know if you need any help!

[2020-06-26 09:36] RCheesley commented on #77
The correct link is now /plugins/plugin-resources/testing-integrations :)

[2020-06-26 10:01] #77 closed

[2020-06-26 10:01] RCheesley commented on #77
@StoppingBuck fixed by PR from @fakela !

[2020-06-26 10:05] fakela commented on #77
@RCheesley it works now I will effect the similar change for field-mapping its broken too

[2020-06-26 11:07] fakela commented on #75
<img width="1036" alt="Screenshot 2020-06-26 at 11 49 58 AM" src="https://user-images.githubusercontent.com/39309699/85849626-32ea7580-b7a3-11ea-9648-26994a3e0589.png">

Hi, @npracht when trying to update the docs I saw that the _field : WhoId: Lookup(Lead)_ being located in the docs. Comparing it with link _mautic.com/help/salesforce-integration-setup_ to make the changes this part is cited as th

[2020-06-26 15:14] kuzmany commented on #75
It looks properly written in Mautic docs https://docs.mautic.org/en/plugins/salesforce
Then the report is mistake.
Sorry for that. Thank you for your time

[2020-06-26 16:59] stephenjude commented on #21
Hi,
I want to take up this issue. Please can you provide testing credentials(CLIENT ID & SECRET) for any of the social plugin (Facebook, Twitter, Instagram e.t.c).

Cc: @RCheesley @npracht

[2020-06-26 17:01] RCheesley commented on #21
@stephenjude you would need to set that up as developer apps, I believe.

[2020-06-26 17:03] stephenjude commented on #21
I am currently testing on the staging server with [mautibox](https://www.mautibox.com/staging/s/dashboard). Is the server not in sync with the staging branch?

[2020-06-26 17:49] stephenjude commented on #21
@RCheesley Do I need to get my own credentials? I was thinking there's something that is used generally for testing on the staging server.

[2020-06-26 17:55] RCheesley commented on #21
You need to generate your own - Mautibox does not have integrations set up. The staging branch of Mautic is available through the dropdown. You may prefer to test this locally rather than a multi-user environment - let me know if you need a hand with that.

[2020-06-26 17:56] stephenjude commented on #21
Okay thanks

[2020-06-27 23:12] stephenjude commented on #21
@RCheesley I have completed Mautic setup locally and I also found out that there is a doc for this issue. Please confirm if this is correct.
Link: [social login docs](https://docs.mautic.org/en/plugins/social-login)

[2020-06-28 12:10] StoppingBuck commented on #77
@RCheesley Sorry, I didn't notice your comment in time. But great that @fakela was able to help 😃

[2020-06-29 12:43] RCheesley commented on #21
@stephenjude so there is -  could you review to ensure that it is still correct/working as expected? It might be helpful also to add some screenshots?

[2020-06-29 14:56] dennisameling opened #80 "Add information to Gated Video documentation"
As mentioned in https://github.com/mautic/mautic/pull/7365#issuecomment-650809854, we need to make it clear that folks can use the `<video>` element only with proper `<source>` elements to use the Gated Video feature. Please read the comment for all details.

[2020-07-01 23:00] stephenjude commented on #21
Okay

[2020-07-03 10:14] swati-thacker13 commented on #34
This issue will be clused by PR - https://github.com/mautic/mautic-documentation/pull/81

[2020-07-05 19:02] #75 closed

[2020-07-05 19:07] RCheesley commented on #34
Resolved by #81

[2020-07-05 19:07] #34 closed

[2020-07-06 09:04] RCheesley opened #82 "Cache & logs now has a new location in Mautic 3.x"
I noticed that we missed updating that the cache. and logs are now in /var/cache and /var/logs respectively from Mautic 3.x onwards.

We should do a search/replace to update, and add the info block at the top of the page where it is used heavily telling folk about the change in Mautic 3.x and what to use in Mautic 2.x (e.g. troubleshooting) using the markdown `>>>`

[2020-07-06 09:37] RCheesley opened #83 "Update reference to Mautic 2.x location in permissions reset codeblock"
[Here](https://docs.mautic.org/en/troubleshooting/file-ownership-and-permissions#reset-the-file-and-folder-permissions) we are using the old Mautic 2.x locations for cache and logs which could be confusing.

Suggest that we update to Mautic 3.x directory paths and add an info block at the top of the page (using `>>>`) to alert folk of the difference and provide the Mautic 2.x paths.

[2020-07-07 11:14] swati-thacker13 commented on #82
I'll work on this, @RCheesley. Please assign it to me.

[2020-07-07 11:27] swati-thacker13 commented on #55
Since the PR has been merged, can you please close this issue?

[2020-07-07 11:55] RCheesley opened #84 "Another app/console reference"
Just came across this - a good one for a newcomer so 🙇‍♀️  please leave if you are already contributing 🙇‍♀️  :)

https://contribute.mautic.org/contributing-to-mautic/developer/local-environment-setup#development-environment. There is a reference here to app/console that needs changing!

[2020-07-07 15:06] RCheesley commented on #55
Whoops, yes - looks like we didn't link it to the PR - thanks for noticing!

[2020-07-07 15:06] #55 closed

[2020-07-07 15:07] RCheesley commented on #82
Yes, it would be good to add the info there I think!

[2020-07-07 19:10] proffalken opened #85 "Update documentation to include recommended hardware specifications"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? |
| Feature request? |
| Enhancement? | X

## Description:

A number of queries in Slack and on the forums have been related to Mautic performance.  It would be good to establish a "minimum hardware requirement" for Mautic to provide rec

[2020-07-08 04:29] Adeola-Adesoba commented on #84
Hello,

I will like to work on this but I am not sure what to look for on the link you provided. Thank you.

[2020-07-08 07:53] RCheesley commented on #84
@Adeola-Adesoba that's great! On the page I shared, it makes reference to an outdated command:

`app/console`

Since we released Mautic 3, this should now be:

`bin/console`

So this just needs to be updated to reflect the new path.

Does that make more sense? Happy to talk through further if needed!

[2020-07-08 09:15] fakela commented on #80
@dennisameling even for tracked videos or that's the only exception

[2020-07-08 10:03] piotrekpal opened #87 "Second Focus item won't trigger"
**Holly mother of Dragons, wrong board. Too many tabs opened, sorry guys! Please close this issue :)**

[2020-07-08 10:17] #87 closed

[2020-07-09 05:59] Adeola-Adesoba commented on #84
Hello,

Thank you, it makes more sense but I cannot locate the file that corresponds to that page in your repository.

[2020-07-09 07:02] morrme commented on #84
@Adeola-Adesoba here it is:
 https://github.com/mautic/mautic-community-handbook/blob/master/pages/13.contributing/02.developer/04.Local%20environment%20setup/docs.md

[2020-07-09 07:44] RCheesley commented on #84
As above, but you can also find an edit link at the bottom of every page on the documentation.

This link takes you directly to the file on GitHub, which you can then edit when you're logged in and commit your changes/make a pull request.

[2020-07-09 14:23] Adeola-Adesoba commented on #84
Done!

[2020-07-09 14:59] RCheesley commented on #84
Thanks, sorry for the confusion with it being in a different repo, entirely my fault!

[2020-07-09 14:59] #84 closed

[2020-07-17 07:28] StoppingBuck opened #89 "Make a list of all required PHP modules"
Inspired by [this old, closed Mautic issue](https://github.com/mautic/mautic/issues/1844) I think it would be a good idea to have a list of the required PHP modules somewhere in the Documentation - the docs mention the required PHP version, but not what extensions should be enabled. There is an extensions check done during installation, as the [Getting started](https://docs.mautic.org/en/setup/get

[2020-07-17 07:31] RCheesley commented on #89
Thanks for the suggestion @StoppingBuck - I've often thought that this would be really helpful!

[2020-07-17 19:37] szepeviktor commented on #89
Simply take your source code

https://github.com/mautic/mautic/blob/b584b356315fea69208daac881541f4c7d01311a/composer.json#L6-L16

ask PHP CompatInfo what extensions are needed

https://github.com/llaville/php-compat-info

and remove default extensions (mainly `php -n -m`)

Done 🍏

[2020-07-24 17:56] RCheesley opened #93 "Create a 'configuration' section"
Something I noticed when I was suggesting that a new pull request needed to update the documentation is that we don't actually have a section which explains all the different parts of the configuration.

I wonder if this might be more helpful for a user than having this information scattered across all the different documentation sections.

Setting up Mautic, most of the time you will work through

[2020-07-28 06:20] swati-thacker13 commented on #93
I totally agree with this suggestion, @RCheesley. In fact, there is quite a bit of information about some of these configuration settings that are currently missing/ not documented at all. I had highlighted this bit about email settings in my proposal.

Having a separate Configuration section with all the information in one place makes more sense than having it scattered the way it is all over the

[2020-07-28 08:17] fakela commented on #93
An additional idea @RCheesley if we have a configuration section then we have sub sections under that explains step-by-step guide to how to configure Mautic for e.g emails etc. And the rest.

[2020-07-28 09:22] fakela commented on #93
I may have a slightly different opinion, Currently, I think the doc is easily accessible and sections grouped accordingly and if we put all the configuration into a single section we would have to remove some part of the docs which only content is the basic configuration *For e.g Field Mapping* as to avoid duplication.

I don’t think the configuration information is being scattered in the docs, I

[2020-07-28 13:29] ShareBtech opened #94 "Using date triggers"
What is written in documentation does not seem to work (at least for me) in Mautic 3.0.2

I have created a segment with operator equal to "TODAY", or "Today" or "today" and nothing is being pulled in.

Same goes for campaign

[2020-08-03 22:27] pragatijain commented on #56
Can I own this? Please let me know if I can get started on this?

[2020-08-10 08:50] #63 closed

[2020-08-10 08:52] RCheesley commented on #56
@pragatijain absolutely - take a look and see what needs to be improved. Feel free to add any questions here on the issue :)

[2020-08-12 11:21] StoppingBuck commented on #89
For 2.16 (since I haven't upgraded to M3 yet):

Going through
https://github.com/mautic/mautic/blob/2.16/app/bundles/InstallBundle/Configurator/Step/CheckStep.php
together with
https://github.com/mautic/mautic/blob/2.16/app/bundles/InstallBundle/Translations/en_US/messages.ini
I seem to find these PHP modules:

Mandatory:
- php-ctype
- php-curl
- php-fileinfo
- php-json
- php-mbstring
- php-tokeni

[2020-08-12 12:44] szepeviktor commented on #89
Some PHP extensions are build into the php binary.

You may survey your php binary by issuing `php -n -m`

[2020-08-12 12:44] szepeviktor commented on #89
PHP 7.3.21-1+0~20200807.66+debian9~1.gbp18a1c2 has

Core
date
filter
hash
libxml
openssl
pcntl
pcre
Reflection
session
sodium
SPL
standard
zlib

[2020-08-14 12:37] RCheesley opened #100 "Improve grammar on Progressive Profiling page"
In reviewing a PR I noticed that the grammar for the progressive profiling page is pretty poor. It would be a good one to update as this is a tricky area which people can often be confused by.

[2020-08-14 12:37] RCheesley commented on #100
https://github.com/mautic/mautic-documentation/blob/master/pages/10.Components/03.Forms/02.Progressive%20Profiling/docs.en.md This is the page to be updated

[2020-08-15 10:09] npracht opened #102 "move companies file out of contact sections to create its own section"
In mautic menu, companies is separated to contacts, but in the documentation it is a submenu of contacts. As far as https://github.com/mautic/mautic/pull/8936 adds new feature, i think we should take it out of contact category

[2020-08-15 18:34] RCheesley opened #103 "Add information to explain that plain text version will be automatically created"
With the merging of https://github.com/mautic/mautic/pull/8645 the plain text email will be automatically generated if it is not provided.

We should add this information as a tip on the email page and merge the PR when we release 3.1.

[2020-08-15 20:48] dennisameling opened #104 "Added report column: Date added to company"
https://github.com/mautic/mautic/pull/8209 introduces a new report column called "Date added to company". Not sure if this needs to be mentioned in the docs somewhere, just creating this issue for visibility.

[2020-08-16 19:42] dennisameling opened #106 "New ownerfield tokens"
https://github.com/mautic/mautic/pull/8373 introduces new ownerfield tokens. This needs end-user documentation.

Please look at the original issue to understand the problem the user was having, and which part of the docs are affected. Thanks in advance!

[2020-08-16 19:46] dennisameling opened #107 "Show "added through API" event log to timeline"
Mautic 3.1 adds a new event to the lead timeline: "added through API". This means that when a user was created using Mautic's API, it will be shown in the UI. The PRs that add this functionality are https://github.com/mautic/mautic/pull/7538 and https://github.com/mautic/mautic/pull/9067

I'm not sure if the docs have something about the lead event log (timeline), but it might be useful to end thi

[2020-08-24 07:16] RCheesley commented on #102
I've done this via the Grav UI, to make it easier when it comes to the directory renumbering etc.

[2020-08-24 07:16] #102 closed

[2020-08-24 10:42] tompon opened #111 "ContactId customfield {id} is not in docs"
There is not any evidence in docs, that custom filed {id}, like {contactfield=id}, can be used as well.

Please add it to all necessary places like https://docs.mautic.org/en/setup/variables and so on..

[2020-08-24 12:39] RCheesley commented on #111
Hi @tompon please do hit the edit button at the bottom of the page and submit a pull request (or if you are familiar with Git, pull down the repo and make a PR in the usual way) to add any missing variables.

Let me know if you need any help!

[2020-08-24 13:04] tompon commented on #111
Hi Ruth, can you please send me the link where I can find how to do it? This is my first time to do such edit..

[2020-08-24 13:26] StoppingBuck opened #113 "The page for Upgrade steps to Mautic 3 has several TODOs in the text"
We need to replace the TODOs on https://docs.mautic.org/en/mautic-3-upgrade/upgrade-steps with some actual documentation :slightly_smiling_face:

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/92449372-the-page-for-upgrade-steps-to-mautic-3-has-several-todos-in-the-text?utm_campaign=plugin&utm_content=tracker%2F178811078&utm_medium=

[2020-08-24 14:30] RCheesley commented on #111
Absolutely!

If you go here: https://docs.mautic.org/en/setup/variables there is a link at the bottom of the page.

Here is a quick video which walks you through it: https://www.youtube.com/watch?v=ZToqANMBXe0

Shout if you need any help!

[2020-08-24 14:41] RCheesley commented on #113
We do .... it was a bit of a rush and the last thing on the list!

Would you be able to look into this?

[2020-08-24 15:02] tompon commented on #111
Amazing Ruth, thank you!

Done

On Mon, 24 Aug 2020 at 16:30, Ruth Cheesley <notifications@github.com>
wrote:

[2020-08-24 18:58] #111 closed

[2020-08-24 19:02] #106 closed

[2020-08-24 19:03] RCheesley commented on #107
I don't think we need to add this anywhere as the part about the contact timeline isn't specific about what is shown.

[2020-08-24 19:03] #107 closed

[2020-08-24 19:29] #103 closed

[2020-08-24 19:29] #104 closed

[2020-08-24 19:29] #83 closed

[2020-08-25 13:57] oltmanns-leuchtfeuer commented on #100
Made my changes and proposed a PR! :) #117

[2020-08-26 07:43] #100 closed

[2020-08-26 21:38] ZachHoffman208 commented on #113
If StoppingBuck doesn't want to I can look into it

[2020-08-26 22:28] StoppingBuck commented on #113
@ZachHoffman208 You can have it :)

[2020-08-28 14:55] StoppingBuck commented on #89
Another one that's needed (found out by accident) is `php-mysqli` (if you are using mysqli as database connector)

[2020-08-28 16:14] ZachHoffman208 commented on #113
Is there existing documentation for the "Kill switch", or the "api_rate_limiter_cache"?

[2020-08-28 16:35] RCheesley commented on #113
The 'kill switch' is not user-facing. It is an option that the Product Team have to disable updates if we noticed a problem, or a large number of failures, warn people and send them to a status thread on the forums.

The code that checks for it being enabled is here: https://github.com/mautic/mautic/blob/2.16/upgrade_v3.php#L306

Here is the documentation about the API Rate Limiter Cache: https://

[2020-08-31 10:05] maikroservice opened #119 "wrong styling of codeblocks at https://docs.mautic.org/en/home/contributing"
BUG

Hello,
something appears to go wrong with the markdown to html conversion of the codeblocks parts of the contributing page.
When visiting the contributing page the links in the table of contents do not work and upon visiting the sections in firefox 80.0 (Mac OSX 10.14.2) one does not see the arrows indicating that this would be collapsible parts, while chrome (85.0.4183.83) shows them but als

[2020-08-31 12:00] oltmanns-leuchtfeuer commented on #119
Hey @maikroservice :)

I for myself am using Chrome 84.0.4147.135 and MacOS 10.15.4 and hadn't had any markdown rendering issues yet. I also just tested on Firefox 80.0 and had no problems either.
Maybe we can get some dev insights on this, thus I labeled the post with "help wanted".

Furthermore, we have a bug-reporting template on the mautic/mautic repository. With some smaller changes I think w

[2020-08-31 12:02] oltmanns-leuchtfeuer commented on #119
This is the "bug-reporting" template I mentioned:

[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

[2020-08-31 16:47] maikroservice commented on #119
@oltmanns-leuchtfeuer fascinating, I tried it again after rebooting and it still does not work - I also tested Safari 12.0.2 now and it does not render the markdown.

[2020-09-11 23:45] cardened opened #121 "Not tracking emails sent from GMAIL."
Hello.   I did several tests with my account and another colleague, and for neither of us it is working to track emails.

It is only showing the notifications without a problem, but not tracking at all on Mautic instance (neither emails sent nor the emails opened).

[2020-09-21 15:54] StoppingBuck commented on #113
@ZachHoffman208 Did you get a chance to look at this? :slightly_smiling_face:

[2020-10-30 15:38] RCheesley commented on #82
@swati-thacker13 this issue was assigned to you but I'm not sure if we got around to completing it. I've fixed a few references I've found as I've been going through other docs but would be good to do a general find/replace to catch any we might have missed.

[2020-11-03 10:10] tomekkowalczyk opened #131 "No contact batch endpoint information"
We have an undocumented Lead endpoint API that is public and tested
1. `PUT /api/contacts/batch/edit` - https://developer.mautic.org/#edit-contact
2. `POST /api/contacts/batch/new` - https://developer.mautic.org/#create-contact

[2020-11-03 10:12] #131 closed

[2020-11-09 09:26] oltmanns-leuchtfeuer commented on #93
We now have a pretty good explanation of the Configuration at https://kb.mautic.org/knowledgebase/installation/configuration.

[2020-11-09 09:27] #93 closed

[2020-11-09 09:27] oltmanns-leuchtfeuer commented on #119
Will close for now, If more people encounter this error we will open it again.

[2020-11-09 09:27] #119 closed

[2020-11-09 09:43] oltmanns-leuchtfeuer commented on #80
Was fixed in the PR and can be closed :)

[2020-11-09 09:43] #80 closed

[2020-11-09 10:16] oltmanns-leuchtfeuer commented on #21
Updated the Docs - Also added a Screenshot for more clarity! :)

https://docs.mautic.org/en/plugins/social-login

[2020-11-09 10:16] #21 closed

[2020-11-09 10:27] oltmanns-leuchtfeuer commented on #22
Added the important Sidenotes by Norman to the Doc.

[2020-11-09 10:27] #22 closed

[2020-11-09 10:37] oltmanns-leuchtfeuer commented on #23
There is a Knowledegbase article explaining Dynamic Content in Emails.
https://kb.mautic.org/knowledgebase/emails/dynamic-content-in-emails

[2020-11-09 10:37] #23 closed

[2020-11-09 10:55] oltmanns-leuchtfeuer commented on #25
Updated the Download links for the installer, they now work properly.

[2020-11-09 10:55] #25 closed

[2020-11-09 13:27] oltmanns-leuchtfeuer commented on #27
Added documentation for all the Campaign Decisions, as well as some missing actions which I found important! :)

[2020-11-09 13:27] #27 closed

[2020-11-09 14:33] oltmanns-leuchtfeuer commented on #29
Added the missing documentation https://docs.mautic.org/en/components/forms/utm-tags-form

[2020-11-09 14:33] #29 closed

[2020-11-09 14:38] oltmanns-leuchtfeuer commented on #43
Was postponed to be worked at in the Slack channel, thus I close this until we get a new spin and need to re-open. :)

[2020-11-09 14:38] #43 closed

[2020-11-09 15:14] oltmanns-leuchtfeuer commented on #56
@pragatijain Any update on this? :)

[2020-11-09 15:31] oltmanns-leuchtfeuer commented on #66
Changed to texts into english, as it was easier to change the text instead of explaining why we use latin in the two examples. :)

[2020-11-09 15:31] #66 closed

[2020-11-21 05:26] npracht opened #135 "add information about customisation of columns in contact list view"
https://github.com/mautic/mautic/pull/7511

[2020-11-21 13:28] RCheesley opened #137 "Documentation is missing for users and roles"
When working on testing https://github.com/mautic/mautic/pull/5995 I realised that we do not currently have any documentation on users and roles.

I think this should sit under the Setup section, or maybe its own section.

I'll write a basic page but we should probably expand on it.

[2020-12-02 11:12] swati-thacker13 opened #145 "Implement Vale as a linter for Mautic docs"
Many Mautic contributors draft documentation without the knowledge of the Mautic documentation style and terminology guidelines. For many contributors, English is not the first language which makes contribution difficult and results in an inconsistent documentation.

We do not have dedicate writers to write or review contributions. To address this issue, we want to implement the Vale linter.

**Ab

[2020-12-02 11:14] swati-thacker13 commented on #145
@RCheesley and @npracht  tagging you both here to get started on this.

[2020-12-02 12:02] RCheesley commented on #145
Thanks for your work on this @swati-thacker13 - super excited to get this off the ground!

I wonder if we just kick off by using an existing styleguide (e.g. the Google ones seem to be pretty comprehensive and not a million miles away from our own styleguide).

Looping in @VirgilWasHere who wrote much of our styleguide and may also want to have some input on this!

[2020-12-02 17:49] swati-thacker13 commented on #145
@RCheesley, I agree with the idea of using the Google style guide. Among the publicly available styles for use by Vale here https://github.com/errata-ai/styles, there is an implementation of the Google Developer Documentation Style Guide. Can we start out with this? For terminology and capitalization specific to Mautic, we can add a few more YAML files later. Let's meet to discuss what the repo st

[2020-12-03 11:33] RCheesley commented on #145
Yes, I think that would be a great start and we can refine as we go.

[2020-12-03 20:02] dennisameling commented on #145
Great initiative @swati-thacker13! 🚀 Once you get to the point where it needs to be implemented in CI, feel free to ping me. Happy to help!

[2020-12-07 09:57] swati-thacker13 commented on #145
Thanks, @dennisameling! We'll soon need help with that.

[2020-12-07 10:35] RCheesley commented on #82
@swati-thacker13 this would be a fairly simple PR - you should be able to do a find/replace globally for app/console and replace with bin/console and likewise app/logs to replace with var/logs

[2020-12-11 09:12] RCheesley opened #152 "Update documentation on queues"
Since 3.x users who are implementing RabbitMQ or Beanstalkd need to configure the settings directly in the local configuration file - we removed the GUI interface with this [commit](https://github.com/mautic/mautic/commit/74b8c3e942636a953b081a285c5b696563806662#diff-0c8e7cb890a2152fe377180fde4a86b3314a41f4933622578bfd53b599f26f29).

We need to update the docs relating to the queue to reflect this

[2021-01-09 11:07] hluchas opened #158 "Queue Settings is missing in Mautic configuration"
I followed [these steps](https://docs.mautic.org/en/queue#rabbitmq) and did not found `Queue Settings` tab in third step.

This needs to be fixed somehow.

[2021-01-09 15:40] RCheesley commented on #158
Closing as a duplicate of #152

[2021-01-09 15:40] #158 closed

[2021-01-12 12:06] RCheesley opened #159 "Documentation is required for installing and maintaining using the Docker image"
We need to expand our documentation on installing and maintaining Mautic.

One big area that is missing from the docs is how to work with the official Docker image.

This is a placeholder for this old image https://github.com/mautic/docker-mautic/issues/2 and for anybody who would like to help collaborate on the improvement of docs in this area!

[2021-01-12 12:12] luizeof commented on #159
hello @RCheesley can I use that KB article I sent you last year as a basis?

[2021-01-12 12:21] RCheesley commented on #159
Sure - it will probably need updating I expect! Here is the brief we have in the Education Team for a [tutorial on Docker](https://docs.google.com/document/d/1Qaofz9XxZBq-378a9QC0mT0BhMmVV5i_oyR3Y2Hg_fI/edit?usp=sharing) to go on the Knowledgebase - this needs to be a more formal style though for the documentation.

Here is the [style guide](https://docs.mautic.org/en/home/contributing) for the do

[2021-01-12 12:23] RCheesley commented on #159
Here's the [doc](https://docs.google.com/document/d/1yyf99xZiyyzNOb5beOdo649qyHKvVefxU9Xy4Y8h-OE/edit#heading=h.hfc1pei76yuj) that you had worked on before, just tracked it down!

[2021-01-13 01:22] prasannakulkarni333 opened #160 "Add further documentation on types of data sources available under Reports"
The current documentation does not provide any additional information on types of data sources available in reports.

It might confusing to see so many report types for new users.

It might be helpful to understand these to think about possible use cases if there is further information on the types of reports possible.

![emaill](https://user-images.githubusercontent.com/30556897/104393803-2a1c7f8

[2021-01-13 09:52] RCheesley commented on #160
Fantastic, thank you for working on this and looking forward to reviewing the PR when it's ready 🎉  🚀

[2021-01-18 12:45] CybotTM commented on #89
What about imagemagick/graphicsmagick or (My)SQL client, cron?
Is this documented anywhere already?

[2021-01-18 16:54] RCheesley commented on #89
Thanks @CybotTM for your many comments today! Indeed as the issue highlights, this is not currently documented but we want to improve this. One of our strategic initiatives is to[ improve the install upgrade process and the accompanying documentation](https://mautic.atlassian.net/wiki/spaces/MI/pages/324435990/Improve+the+Installation+and+Upgrade+Process) however we have not yet managed to get fol

[2021-01-27 13:51] dennisameling opened #165 "New feature: segment categories"
One of our contributors has added the ability to add a segment to a category (https://github.com/mautic/mautic/pull/9544) - the documentation might need to be updated for this. Would be great if the team could have a quick look!

![image](https://user-images.githubusercontent.com/17739158/106000314-fa9b7480-60ae-11eb-8bcd-92080138c5d8.png)

[2021-01-28 13:34] RCheesley commented on #165
Raised in Jira https://mautic.atlassian.net/browse/TEDU-58

[2021-02-05 22:12] fakela commented on #152
@RCheesley I want to work on this addition

[2021-02-06 10:22] RCheesley commented on #152
Awesome! 🎉

[2021-02-07 19:27] RCheesley opened #170 "Add a page with more details about the cookies that Mautic sets"
I wonder if we should add the details from this forum thread given that it is a common question and would make it easier for folks doing audits:

https://forum.mautic.org/t/cookie-use-and-classification/17669/7

_Originally posted by @RCheesley in https://github.com/mautic/mautic-documentation/issues/166#issuecomment-769051602_

[2021-02-13 12:15] CybotTM commented on #89
@RCheesley , thanks for the hint, but I'm currently busy with building a Mautic container image. Which is updatable and for all major 3 versions: https://github.com/netresearch/docker-mautic - my findings are added there.

[2021-02-13 12:18] RCheesley commented on #89
Great - would be awesome if you would consider joining the team who are maintaining the official Docker image - it is very much under resourced and we would welcome more involvement!

[2021-02-23 14:01] prasannakulkarni333 commented on #160
This has been addressed in approved PR - https://github.com/mautic/mautic-documentation/pull/175

[2021-02-23 14:01] #160 closed

[2021-02-24 19:35] swati-thacker13 opened #177 "Remove the '.rev' directories from the Mautic doc repo"
The /pages folder of the doc repo contains **.rev** directories. These directories were used to maintain revisions of files before we started using Git. We no longer need these revisions.

[2021-02-25 11:06] #177 closed

[2021-02-26 10:46] swati-thacker13 commented on #82
Opened this PR: https://github.com/mautic/mautic-documentation/pull/179 to address this issue.

[2021-02-26 11:21] #82 closed

[2021-03-28 16:16] Khaled4 opened #186 "Broken link on 6. Creating Campaigns"
@RCheesley
Team, on the documentation covering campaigns (section 06) src ="https://docs.mautic.org/en/campaigns/creating-campaigns"
the following needs to be fixed:

6. Click Launch Campaign Builder to start building your Campaign, and add at least one event. For information about how to use the Campaign Builder, see **Using the Campaign Builder**.
"Using the Campaign Builder" current broken link

[2021-03-28 16:17] RCheesley commented on #186
Thanks for raising it @Khaled4 - at the bottom of every page there is a link to edit the page - would you mind making the edit and creating a pull request for us to review?

Thanks for helping us make the docs better! 🚀

[2021-03-28 16:19] Khaled4 commented on #186
@RCheesley pleasure. Would always love to help and contribute. However, I am not well versed with GitHub. Let me try though!

[2021-03-28 16:26] RCheesley commented on #186
OK - give me a shout on Slack (https://mautic.org/slack) if you get stuck - happy to walk you through the process as it can be a tiny bit daunting the first few times!

[2021-03-28 16:42] Khaled4 commented on #186
@RCheesley please review, check and advise.

[2021-03-28 17:06] RCheesley commented on #186
Fixed by #187 🚀

[2021-03-28 17:06] #186 closed

[2021-03-28 17:07] RCheesley commented on #170
Fixed in #166

[2021-03-28 17:07] #170 closed

[2021-04-02 15:38] dhilst opened #192 "Campaing decision docs are outdated"
Hi,

I had to write a custom decision at my work and found that the documentation is outdated. I could achieve my task after a lot of effort to understand how things works, and documented my journey in a forum post.

It would be nice if any developer could review the approach to check that I'm not doing anything stupid, when I got things right I would like to contribute to the documentation to upd

[2021-04-23 19:20] RCheesley opened #196 "Document the change in ordering for Save, Save and Close, Cancel"
- Save is now Apply
- Save and Close is now a green icon
- Order has been changed to improve UX

See PR's:

https://github.com/mautic/mautic/pull/9894
https://github.com/mautic/mautic/pull/9895

[2021-04-27 20:53] dynamiccontent opened #197 "Improve documentation for upgrading mautic for CLI clear instructions how to do it"
Hello,

As a new user of Mautic I am always looking at the official documentation for how to do upgrading properly on a project. Your documentation is lacking official recommended steps to how to perform upgrade properly.

I have been searching on other unofficial sites to see upgrade tips and it seems they cover this topic better then official documentation.
For example this guide https://mauteam

[2021-04-27 20:57] dynamiccontent commented on #197
Let me just reference this topic https://github.com/mautic/mautic-documentation/issues/113 and people in the topic to get some discussion going:
@StoppingBuck @RCheesley @ZachHoffman208
Thank you.

[2021-04-27 20:58] RCheesley commented on #197
Hey there!

At the bottom of every page in the documentation is a link to edit the page - feel free to go ahead and then make the pull request for the team to update!

Shout if you need any help with that - please join #t-education on Slack (https://mautic.org/slack) if you would like to help with the docs - we definitely agree they need to be improved!

[2021-04-27 20:59] dynamiccontent commented on #197
@RCheesley Before I do that I would like some confirmation that this upgrade steps are correct and that this is optimal way to do the upgrade?

[2021-04-27 21:02] RCheesley commented on #197
Doing an update should be:

[code]

There should not be any need for all the other steps, indeed a Mautic 3.x instance that has been upgraded may well show a bunch of migrations that are no longer relevant. You would only do those steps if something was broken with a past update, generally speaking.

[2021-04-27 21:06] dynamiccontent commented on #197
@RCheesley that is interesting as I was upgrading from Mautic 3.3.2 fresh install to Mautic 3.3.3 and as you can see in the images it showed doing all that so I guess it does not hurt to do the extra steps to make sure the install is not broken?

[2021-05-05 08:51] RCheesley opened #200 "Document the changes for making themes support the new builder"
See https://github.com/mautic/mautic/pull/9893

We need to update the builder docs with this information!

[2021-05-06 13:00] abdallahtaleb opened #201 "New Email not working"
Hello Guys,
I am having an issue in Mautic, whenever I press on create new email it does not redirect me to the builder. Adding the link manually to the browser domain.com/s/emails/new gives below error:
"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible

[2021-05-06 13:02] RCheesley commented on #201
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-05-06 13:02] #201 closed

[2021-05-22 01:41] fakela commented on #196
@RCheesley i wanted to work on this, I checked through the docs we didn't specifically go through the process of creating an email with images(screenshots) but this can be found in the  [create a thank you email](https://kb.mautic.org/knowledgebase/welcome-to-mautic/getting-started-with-mautic#3-create-a-thank-you-email)

So I will look towards updating on that end.  Loading up the PR to get the s

[2021-05-22 07:11] RCheesley commented on #196
What error do you see when you open up the PRs?

I think it would be good to link the docs with the KB indeed!

[2021-05-27 22:49] fakela commented on #196
@RCheesley Here is the screenshot of the error i get

<img width="1412" alt="Screenshot 2021-05-27 at 23 48 40" src="https://user-images.githubusercontent.com/39309699/119906417-1708ca00-bf46-11eb-933b-e50c8a7a0644.png">

[2021-05-28 10:28] RCheesley commented on #196
Yes, you will get that on Mautibox if the PR has already been merged to features. Use the default branch rather than the PR and you should see Mautic with the PR applied in that case :)

[2021-06-02 11:15] RCheesley opened #213 "Edit on GitHub links are missing since update to Grav/theme"
Since we set up the child theme inheritance the Github link at the bottom of the page is missing - I think that it is a partial that is missing but there are also config options usually in the theme settings.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/99201978-edit-on-github-links-are-missing-since-update-to-grav-theme?utm_camp

[2021-06-08 10:13] aviboy2006 opened #215 "There is no folder called app/cache in Mautic mention in getting started document"
While installation of Mautic found one issue is mentioned on getting started with Mautic documentation.
https://docs.mautic.org/en/setup/getting-started. As I know only var/cache folder exist, there no existence of folder app/cache.
<img width="1789" alt="Screenshot 2021-06-08 at 3 42 25 PM" src="https://user-images.githubusercontent.com/3996105/121168054-2b1ac880-c870-11eb-9cc3-ccc59e27517e.png">

[2021-06-11 13:56] #200 closed

[2021-06-17 22:54] victorburgos12 opened #222 "Improve documentation about dynamic web content"
Document url: https://github.com/mautic/mautic-documentation/blob/1bc962fc1acfbf5dd3dc3b8b0cbc702fcc129bd8/pages/11.Components/02.DWC/docs.en.md

On this document is not clear that in order to add DWC to a third party page, you need to insert another code or plugin in addition to the html code.
I use wordpress and to make the HTML work I had to install WP Mautic plugin.

Thanks.

[2021-06-18 00:56] fakela commented on #213
@RCheesley this works as expected now 👍

[2021-06-21 09:08] #213 closed

[2021-06-21 09:44] RCheesley commented on #222
@victorburgos12 please would you make a PR to address this change? You can do it on the Github page you mentioned by clicking the edit button.

To use any Mautic features like DWC, you will need to have the Mautic tracking code on the pages - that is standard practice but maybe we could make it clearer that this is required - either by manually adding the code, using a tag manager like Google Tag

[2021-06-21 16:24] victorburgos12 commented on #222
Thanks RCeesley, I tried that but it was complicated to understand. I will spend some time learning the process to contribute.

[2021-06-21 16:24] #222 closed

[2021-07-13 18:19] RCheesley commented on #192
Moving this to the dev docs, which is a separate repo :)

[2021-08-31 20:27] #152 closed

[2021-08-31 20:56] RCheesley commented on #197
Hey there, I have started working on a PR here: https://github.com/mautic/mautic-documentation/pull/229 feel free to review/add comments.

[2021-08-31 20:57] RCheesley commented on #145
Done so closing the issue! 🚀

[2021-08-31 20:57] #145 closed

[2021-08-31 20:59] RCheesley commented on #113
https://docs.mautic.org/en/mautic-3-upgrade/getting-started

https://docs.mautic.org/en/mautic-3-upgrade/upgrade-steps

https://docs.mautic.org/en/mautic-3-upgrade/mautic-3-upgrade-errors

Addressed with my updates to these three pages so closing the issue :)

[2021-08-31 20:59] #113 closed

[2021-08-31 21:00] RCheesley commented on #24
All Contributors is now enabled across all GitHub repos so closing this PR (although we do need to look into some more funky automation and rolled up reporting at some time, in case anyone wants to pick that up at a later date!)

[2021-08-31 21:00] #24 closed

[2021-09-15 13:51] lukassykora opened #246 "Salesforce Integration"
I followed the steps in https://docs.mautic.org/en/plugins/salesforce but the plugin could not connect. The error was in Client::authenticate().

To be able to connect I had to change the setting in Salesforce. Go to PLATFORM TOOLS/Apps/Connected Apps/Manage Connected Apps. Then edit your app and change OAuth policies.

[2021-09-16 13:21] RCheesley commented on #246
Thanks for flagging it up - can you make a PR to update the documentation please?

[2021-09-22 11:53] fakela opened #247 "Update docs to Mautic 4 - add info about CLI/UI update"

[2021-09-22 11:59] RCheesley commented on #247
Hey there! Not sure if this is related to https://github.com/mautic/mautic-documentation/issues/197 perhaps?

[2021-09-22 12:03] fakela opened #248 "Documentation on how to upgrade from Mautic 3 to 4"

[2021-09-22 15:27] fakela commented on #247
I didn’t see the WIP earlier, I will close this cause there is a PR on this already

[2021-09-22 15:27] #247 closed

[2021-09-22 15:50] #248 closed

[2021-09-22 16:46] fakela opened #249 "Document how to Add multiselect default value support"
Add multiselect default value support  [1045](https://github.com/mautic/mautic/pull/10415)

[2021-09-22 17:17] fakela opened #250 "Add documentation on do not progressive profiling fields"
see [10312](https://github.com/mautic/mautic/pull/10312)

We need to update the form docs with this documentation

[2021-09-24 16:49] RCheesley opened #251 "Add overview of features in Mautic 4"
We did not update the page at https://docs.mautic.org/en/features-by-major-release - need to add the 4.0 features! Should be easy enough to do from the [release notes](https://github.com/mautic/mautic/releases/tag/4.0.0) / [blog post](https://www.mautic.org/blog/community/mautic-4-standing-tall).

[2021-09-25 01:22] fakela opened #252 "Document on how to send files in form as attachment"
See https://github.com/mautic/mautic/pull/8699 for more information on the feature update

[2021-09-25 01:36] fakela opened #253 "Doc: Add "If exist, not overwrite" feature to contact field mapping tab"
See https://github.com/mautic/mautic/pull/8196 for more information on this feature update

[2021-09-25 01:44] fakela opened #254 "Doc: update campaign table new columns"

[2021-09-25 01:46] fakela opened #255 "Doc: update form table new columns #9686"
see https://github.com/mautic/mautic/pull/9686

[2021-10-08 05:30] RCheesley commented on #251
Hi @Victorybrown thanks for stepping up and offering to help!

I think that @fakela has made a start on this issue, but perhaps you could have a look at the pull request and make any suggestions: https://github.com/mautic/mautic-documentation/pull/256 as it has not been reviewed yet.

You can do a review by clicking on the Files Changed, and reading through the proposed changes. Please use the gre

[2021-10-08 11:24] Victorybrown commented on #255
Alright. I’ll look into it. Thank you

[2021-10-11 12:46] miamicityman opened #260 "Include Sendgrid as option with webhook in first section"
Elastic Email, SparkPost, Mandrill, Mailjet, **Sendgrid**, and Amazon SES (as of 2.2.0) support webhook callbacks for bounce management. See below for more details.

[2021-10-11 12:49] RCheesley commented on #260
@miamicityman would you be open to making the PR to add this?

On the docs, you can just scroll to the bottom of the page, and press edit. This will allow you to make the changes, and then prompts you to make a pull request for us to review and bring those changes into the docs.

[2021-10-11 14:43] miamicityman commented on #260
Sure, but when I do so ... I get:

"You’re making changes in a project you don’t have write access to.
Submitting a change will write it to a new branch in your fork
miamicityman/mautic-documentation, so you can send a pull request."

BTW: First time making github edits.

On Mon, Oct 11, 2021 at 8:49 AM Ruth Cheesley ***@***.***>
wrote:

--
Max Jaramillo
City of Miami, USA

[2021-10-13 16:38] #260 closed, assigned to nobody

[2021-10-15 14:30] fakela commented on #249
Hi @deborahsalves, welcome!

This is where the information should be added https://docs.mautic.org/en/contacts/manage-custom-fields

And this is where you can get more information on the feature https://github.com/mautic/mautic/pull/10415 and what needs to be updated

[2021-10-15 14:30] fakela commented on #249
Hi @deborahsalves, welcome!

This is where the information should be added https://docs.mautic.org/en/contacts/manage-custom-fields

And this is where you can get more information on the feature https://github.com/mautic/mautic/pull/10415 and what needs to be updated

[2021-11-09 09:40] npracht commented on #250
@fakela you can review the PR :)

[2021-11-09 09:52] npracht commented on #253
Please review https://github.com/mautic/mautic-documentation/pull/279

[2022-02-28 14:33] RCheesley opened #296 "Documentation for new webhook log clearing cron job"
This PR seems to be missing the necessary documentation PR for the new cron job / explanation of the feature. Adding to the education team's backlog!

_Originally posted by @RCheesley in https://github.com/mautic/mautic/issues/10405#issuecomment-1054317386_

[2022-03-04 18:29] RCheesley opened #302 "Document setting for htaccess"
Thanks folks, @mollux I think this should be documented in the https://github.com/mautic/mautic-documentation repo. Probably under Installing Mautic / Updating Mautic and a link in the Troubleshooting section to those resources.

Maybe when we add to the docs we could give some examples for using Mautic in a folder, on a root domain, and in a subdomain as a starting point?

Please also include syn

[2022-04-11 14:06] RCheesley commented on #296
@vickywane great - the PR with the information about the new cron job is at https://github.com/mautic/mautic/pull/10405#issuecomment-1054317386.

We should probably work on the new docs repo at https://github.com/mautic/user-documentation though, I think!

Will align regarding this on Slack.

[2022-04-11 15:02] vickywane commented on #296
Nice.

I'll reach out on Slack.

[2022-04-11 17:48] favour-chibueze commented on #296
@RCheesley @vickywane I have submitted a PR on cron jobs. Currently working on the setup section. You can work on any other section @vickywane

[2022-04-23 10:46] Iheanacho-ai commented on #249
hi is this issue still open id like to contribute

[2022-04-23 10:48] Iheanacho-ai commented on #255
hey is this issue still open i would love to contribute

[2022-04-23 10:49] Iheanacho-ai commented on #135
hey is this issue still open id like to contribute

[2022-04-28 13:00] OttoSte99 opened #310 "MaxMind license key format"
Hello,
I found out that with latest versions of Mautic you must create the MaxMind license with different settings, otherwise reported in the [official documentation](https://docs.mautic.org/en/setup/maxmind-license) at **point 6** _"Answer Will this key be used for GeoIP Update? with No and confirm"_.
I've noticed that setting it to **NO** the license will not work; I set instead on **YES** and i

[2022-04-28 14:45] RCheesley commented on #310
Hi there,

Please use the edit button at the bottom of the page on the docs, to make that change and submit it for review! We would highly value the contributon!

[2022-04-28 15:03] OttoSte99 commented on #310
Hello,
I've edited the documentation with the right informations.
I've sent you the new screenshot via Slack.
Thanks